* {
  padding: 0;
  margin: 0;
}

img {
  padding: 0 0 0 100px;
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: rgb(44, 141, 169);
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  height: 50px;
  font-size: 1.5vw;
  border-radius: 25px;
  font-weight: bold;
}

.nav {
  width: 500px;
 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
   font-size: 20px;
  font-weight: 600;
  color: rgb(0, 187, 255);
}

html {
  font-family: Inter var, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.head {
  font-size: clamp(18px, 16px + 4vw, 48px);
  font-weight: 900;
  padding: 20px;
  text-align: center;
}
.h2 {
  text-align: center;
}

.input {
  margin: 10px 0 0 30vw;
  padding: 0 0 0 10px;
  font-size: 20px;
  width: 500px;
  height: 40px;
  background-color: aquamarine;
  border: 2px solid rgb(181, 71, 52);
  border-radius: 25px;
}

.description {
  text-align: center;
}
.score {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(62, 175, 126);
}

.indicator {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(143, 11, 85);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.first {
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: rgb(93, 93, 227);
  font-size: 40px;
  font-weight: bolder;
  border-radius: 8px;
  margin: 5px;
}
.second {
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: rgb(62, 195, 127);
  font-size: 40px;
  font-weight: bolder;
  border-radius: 8px;
  margin: 5px;
}
.third {
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: rgb(23, 167, 165);
  font-size: 40px;
  font-weight: bolder;
  border-radius: 8px;
  margin: 5px;
}

.cont1 {
  height: 130px;
  width: 210px;
  background-color: aquamarine;
  box-shadow: 10px 10px 10px rgb(73, 60, 60);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}
.cont2 {
  height: 130px;
  width: 210px;
  background-color: aquamarine;
  box-shadow: 10px 10px 10px rgb(73, 60, 60);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}
.cont3 {
  height: 130px;
  width: 210px;
  background-color: aquamarine;
  box-shadow: 10px 10px 10px rgb(73, 60, 60);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

a:hover,
button:hover {
  font-weight: bolder;
  color: black;
}

button:hover {
  background-color: aqua;
}
